#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

Form {
  display: flex;
  gap: 16px;
  flex-direction: column;

  h1 {
    display: flex;
    justify-content: start;
    font-size: larger;
  }

  label {
    display: flex;
    justify-content: flex-start;
  }

  .standart {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row {
    display: flex;
    justify-content: row;
    gap: 25px;
  }

  .group {
    display: flex;
    flex-direction: column;
  }

  .big-input {
    display: flex;
    flex-direction: column;

    .big {
      padding: 33px;
    }
  }
}
